@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');
:root{
    --font-family: 'Dongle', sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: var(--font-family);
}
h1{
    font-weight: var(--font-bold);
    font-size: 60px;
}
#panel-1, #panel-2,#panel-3{
    font-weight: var(--font-regular);
    font-size: 18px;
    padding: 1.5rem;
    margin-bottom: 1em;
    width: 60%;

    animation-name: derecha;
    animation-duration: 10s;
    animation-timing-function: ease;
}
#panel-1{
    background-color: orange;
    animation-delay: 0;
}
#panel-2{
    background-color: palegoldenrod;
    animation-delay: 10s;
}
#panel-3{
    background-color: pink;
    animation-delay: 20s;
}
@keyframes derecha {
	0% {
		margin-left: 0;
	}

	50% {
		margin-left: 40%;
	}
	100% {
		margin-left: 0;
	}
}