@font-face{
    font-family: 'Coolvetica';
    src: url('assets/fonts/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root{
    --font-colvetica: 'Coolvetica', Arial, sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-regular: 400;
    --font-black: 900;
    --color-blue: #0a2ff1;
    --color-dark-blue: #04146c;
    --color-light-blue: #eff2ff;
}

*{
    margin:0;
}
body{
    padding: 2em;
}
header{
    font-family: var(--font-colvetica);
    font-weight: var(--font-regular);
    font-size: 60px; /*EL PDF decia 120px pero no queda como la referencia asi*/
    color: var(--color-blue);
    padding-bottom: 4rem;
}
main{
    padding: 1em; /*pdf*/
    display: flex; /*pdf*/
    justify-content: space-evenly; /*pdf*/
    font-family: var(--font-roboto);
}
.card{
    flex-direction: column; /*pdf*/
    width: 20%;  /*pdf*/
    padding: 1em; /*pdf*/
    background-color: var(--color-light-blue);
    text-align: center;
    border-radius: 5%;
}
.card .w-18{
    padding-top: 1rem;
    width: 18%;
}
.card .w-25{
    padding-top: 1rem;
    width: 25%;
}
.card h2{
    font-size: 30px;
    font-weight: var(--font-black);
    color: var(--color-blue);
    padding-bottom: 2.5rem;
}
.card p{
    font-size: 24px;
    font-weight: var(--font-regular);
    color: var(--color-dark-blue);
    
}
