@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');

:root{
    --font-family: 'Source Sans 3', sans-serif;
    --color-azul: #04146c;
    --color-celeste: #edf7ff;
    --color-blanco: #ffffff;
}
main{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-family);  
}
img{
    width: 600px;
    border: 1px solid var(--color-azul);
}
h1, h3, p{
    color: var(--color-azul);
}
h2{
    background-color: var(--color-azul);
    color: var(--color-blanco);
    font-size: 38.6px;
    font-weight: 400;
}
h1{
    font-size: 88px;
    font-weight: 900;
    margin: 3rem;
}
h3{
    font-size: 26.6px;
    font-weight: 400;
}
h3 > strong{
    font-weight: 700;
}
p{
    font-size: 24px;
    font-weight: 400;
    background-color: var(--color-celeste);
}