@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
:root{
    --font-family: 'Mulish', sans-serif;
    --color-dark-blue: #04146c;
    --color-violet: #414166;
    --color-blue: #0a2ff1;
}
body{
    box-sizing: border-box;
    font-family: var(--font-family);
}
main{
    margin: auto;
    width: 50%;
}
input,button{
    font-family: var(--font-family);
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}
form{
    padding: 10px;
}
.line{
    margin: auto;
    width: 500px;
    height: 5px;
    border-bottom:1px solid var(--color-dark-blue);
}
h1,input,p,button{
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: var(--color-dark-blue);
    font-size: 24px;
    font-weight: 700;
    
}
input,p{
    font-size: 18.66px;
    font-weight: 400;
}
input,button{
    border: 1px solid var(--color-violet);
}
button{
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color-blue);
    color: #ffffff;
    padding-bottom: 10px;
}

p,a{
    text-align: center;
    font-size: 18.66px;
    color: var(--color-blue);
    text-decoration: none;
}